parameters:
    proxy_mode:             combined
    backend_style_server:   http://styles.anu.edu.au/_anu
    backend_asset_server:   ~
    cache_backend_assets:   ~

    locale:                 en
    secret:                 ThisTokenIsNotSoSecretChangeIt
