parameters:
    # Base URL to the backend style server. This is typically the central ANU
    # Webstyle server.
    backend_style_server:   http://styles.anu.edu.au/_anu

    # Whether to process resources. If true, resources are cached and style
    # sheets are aggregated. This should only be enabled if the web server can
    # be configured to rewrite resources. Additionally, if processing is
    # enabled, it is highly recommended that the application cache settings are
    # configured below.
    process_resources:      false
    # The individual processing options can be separately configured:
    #anu_style_proxy.optimize_styles: false
    #anu_style_proxy.cache_backend_assets: false

    # Application cache configuration.
    # See http://github.com/liip/LiipDoctrineCacheBundle for how to configure
    # the cache layer. Note that the default cache provider 'array' is not
    # cached across requests.
    app_cache_namespace:    ~
    app_cache_type:         array
    app_cache_host:         ~
    app_cache_port:         ~
    app_cache_id:           ~
    app_cache_directory:    ~
    app_cache_extension:    ~

    locale:                 en
    secret:                 ThisTokenIsNotSoSecretChangeIt
